/* var declarition  */

:root{
   --primary:#ffffff;
}

/* body propeerties */
body
{
    margin: 0;
    /* background: linear-gradient(315deg, #C8DCE5 0%, #B6CCDA 100%); */
    font-family: 'Poppins';
}
 
/* div properties */
.full{
    width: 100vw;
    height: 150vh;
    max-height: 1000px;
    margin-top: 0;
    /* position: relative; */
    
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    border-radius: 0.9375rem 0rem 0rem 0.9375rem;
    background: linear-gradient(315deg, #C8DCE5 0%, #B6CCDA 100%);
    /* height: 99vh; */
}
/* .logo{
    margin: 1rem 0 0 1rem;
} */
.apple{
    display: flex;
    flex-direction: row;
    margin: 1.8rem 2.5rem 0 1rem;
}
.nav{
  display: none;
}
.empty{
    flex-grow: 1;
    max-width: 80vw;
}
/* .search-cart{
    
    margin-top: 1.1rem;
    
} */
.search-cart{
    margin-top: 1rem;
    height: 24px;
    display: flex;
    gap: 1rem;

}
/* .search,.line,.cart{
    /* margin: auto auto;
    margin-top: 0.8rem;
    margin-left: 0.5rem; 
    

}
.cart{
    margin-right: 1.5rem;
} */

.heading{
    font-size: 2rem;
    margin: auto auto;
    margin-top: 4rem;
    color:var(--primary);
    font-weight: 800;
    margin-bottom: 0;
    max-width: 350px;
    margin-left: 1rem;
}
.line2{
    margin:0;
    width: 350px;

    color: white;
    font-weight: 500;
    margin: auto auto;
    margin-left: 1rem;
}


.buynow{
    max-width: 200px;
    margin-left: 1rem;
    margin-top: 0rem;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: transparent;
    border: 4px solid var(--primary);
    color: var(--primary);
    border-radius: 100px;
}
.img{
    margin: auto auto;
    display: flex;
    margin-top: 4rem;
    
}
.watch{
    width: auto;
    height: 20rem;
    margin: auto auto;
    
   /* filter: drop-shadow(0 1rem 4px grey); */
   /* margin-top: 4rem; */
}
.shadow{
    margin: auto auto;
    position: absolute;
    top: 22rem;
   
    left: 2rem;

}
.colorindicator{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:auto;
}
    .black{
    margin-top: 4rem;
    width: 16px;
    height: 16px;
    border: 2px solid var(--primary);
    background-color: black;
    border-radius: 50%;
    }
.background{
    width: 22px;
    height: 22px;
    border-radius: 0.9375rem 0rem 0rem 0.9375rem;
    background: rgba(171, 198, 214, 1);
    border: 2px solid var(--primary);
    border-radius: 50%;
    filter: drop-shadow(0, 3, 2px black);    
}
.dot{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 2px;
    height: 2px;
    border: 0px solid white;
    border-radius: 50%;
    background-color: var(--primary);
    margin-top: 2px;
}
.green{
    width: 16px;
    height: 16px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    
    background-color:rgba(88, 215, 196, 1);
}
.peach{
    width: 16px;
    height: 16px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    background-color: rgba(242, 206, 198,1);
   
}
footer{
    display: flex;
    height:70px;
    background-color: #ffffff;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    box-sizing: border-box;
}
#menu{
    margin: 0.5rem;
}
/* .empty2{
    flex-grow: 1;
    max-width: 200px;
} */


/* .menu{
    margin-left: 2rem;
   
}
#menu{
    margin-top: 1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
#facebook-ico,#twitter-ico,#linkedin-ico{
    margin-top: 1rem;
    margin-right: 1rem;
}
#facebook-ico{
    margin-left: 0.5rem
} */
.empty3{
    flex-grow: 1;

    max-width: 80vw;

}
.indicator{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-left: 1.4rem;
    display: none;
    
   }
    .sample{
    
    display: flex;
    justify-content: end;
    margin: 2rem 1rem 0 0;
    visibility: hidden;
    
   }
   /* .grey{
    width: 150px;
    height: 80px;
    border-radius: 20px;
    background:rgba(67, 69, 88,0.7);
    margin-left: 10px;
    display: flex;


    }   
    .sea{
    
        width: 150px;
        height: 80px;
        border-radius: 20px;
        margin-left: 10px;
        background: rgba(106, 221, 204,0.5);
        display: flex;
       }
       .pink{
        width: 150px;
        height: 80px;
        border-radius: 20px;
        margin-left: 15px;
        background: rgba(249, 205, 196,0.5);
        display: flex; 
       }*/
       .sample{
        display: flex;
        gap: 20px;
       }
       .box{
        width: 128px;
        height: 69px;
        display: flex;
        
       }
       .grey{
        border-radius:20px;
        background: rgba(67, 69, 88, 0.60);
       }
       .sea{
        border-radius: 20px;
background: rgba(106, 221, 204, 0.60);
       }
       .pink{
        border-radius: 20px;
background: rgba(249, 205, 196, 0.60);
       }
       .smallwatch{
        margin: auto auto;
        position: relative;
        bottom: 2rem;
       }
       .grey:hover,.sea:hover,.pink:hover{
       
        transition:0.2s ;
        transform: scale(1.2);
       }
       .empty3{
        flex-grow: 1;
       }
      
       /* footer{
        /* margin-top: 10vh; 
        width: 100vw;
        height: fit-content;
        background-color: var(--primary);
        border-radius:10px ;
       display: flex;
    } */


    /*  properties for tablet */
@media screen and (min-width:768px) {
    .apple{
       margin-left: 5vw;
    }
    body{
        margin: auto auto;
       
        width: 99vw;
        
    }
    .logo{
        margin-right: 2rem;
    }
    .full{
        padding:0 1rem 0 1rem ;
        /* margin-left: 50px; */
        height: 100vh;
    }
    .nav{
       /* visibility: visible; */
       display: inline;
       gap: 5rem;
        color:white;
    }
    .un{
        display: flex;
        gap:50px;
        width: 63vw;
    }
    .listitems{
        /* display: inline; */
        flex-grow: 1.5;
        list-style-type: none;
        text-align: center;
        font-size: 1.5rem;
        
    
    }
    .iwa{
        background-color:white;
        border-radius: 20px;
        padding: 0 0.5rem;
        color: #B6CCDA;
        text-align: center;
    }
    .empty{
        flex-grow: 0;
    }
   .container{

    width: 100vw;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
   }
   .main-heading{
    margin: 0;
    margin: auto auto;
    margin-top: 1rem;
    max-width: 100%;
   }
   .heading{
    margin-top: 1rem;
    /* margin-left: 0.5rem; */
    max-width: 500px;
    font-size: 2.5rem;
    
}
.line2,.buynow{
    /* margin-left: 0.5rem; */
}
.search-cart{
 /* margin-right: 2vw; */
 justify-content: flex-end;
}
    .img{
    margin-top: 1rem;
   } /*
   .img{
    margin-left: 0.5rem;
   } */
   .watch{
    /* margin-top: -2rem; */
    /* margin-left: -15px;
    margin-right: -5px; */
    box-sizing: border-box;
    max-width: 330px;
    position: relative;
    right: 2rem;
   }
  
   .buynow{
    max-width: 220px;
    margin-top: 0;
   
   }
   .shadow{
    position: static;
    position: absolute;
    top: 12rem;
    left:32.2vw;
   }
   .indicator{
    display: block;
    position: relative;
    top:100px;
    right: 10px;
   }
   .colorindicator{
    position: relative;
    right: 40px;
   }
   .sample{
    /* height: fit-content; */
    height: 200px; ;
    display: flex;
    visibility: visible;
    /* margin-top: 105px; */
    align-items: flex-end;
    margin-right:5rem ;
    
    margin-left:auto ;
  position: relative;
  bottom: 50px;
   }
   body{
    margin-left: 20px;
   }
   footer{
    width: 55px;
    height: 99vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    margin: 0;
    left: 0%;
   }
   #menu,#facebook-ico,#twitter-ico,#linkedin-ico{
    margin-left: 0.5rem;
   }
   #menu{
    margin-left: 0;
   }
   #facebook-ico{
    margin-left: 0.8rem;
   }
   #linkedin-ico{
    margin-bottom: 1rem;
   }
}


/* properties for laptop */

@media screen and (min-width:1024px) {
    body{
        /* width: 90vw;
         */
         margin:auto auto;
    }
    .main-heading{
        max-width: 750px;

    }
    .full{
        height: 100vh;
    }
    .support{
        width: 100px;
    }
    .logo{
        margin-left: 0.7rem;
    }
    .heading{
        font-size: 3.5rem;
        max-width: 100%;
        margin-top: 2rem;
        height: min-content;
        margin-left: 1rem;
    }
    .buynow{
        width:200px
    }
    
    .container{
        /* margin-left: 5vw; */
        margin-left: 2rem;
        padding-top: 2rem;
       position: relative;
        left: 1rem;
        grid-template-columns: 58% 42%;

    }
    .indicator{
        top:55px;
    }
    .heading.line2{
     position: relative;
     left: 0.5rem;
        
    }
    .line2{
        font-size: 50px;
        margin-right: 0;
        width: 100%;
    }
   
    .sample{
        position: relative;
        top: 5px;
        align-items: center;
        bottom:70px;
    }
    .img{
        margin-top: 2.2rem;
    }
  .shadow{
   right: 200px;
  }
 .empty3{
    max-height: 650px;
 }
   
}


/* properties for laptop  */
@media screen and (min-width:1350px) {
    /* .apple{
        margin: 1rem 2rem 0 2rem;
    } */
    .full{
        border-radius:2rem;
    }
    .main-heading{
        max-width: 1100px;
    }
    .search-cart{
        position: relative;
        left:10rem;
        }
    .container{

        grid-template-columns: 50% 50%;
    }
    .heading.line2{
        max-width: 100%;
        margin-left: 1.4rem;
        font-size: 4rem;
    }
    .watch{
        margin-left: 5vw;
        width: 100%;
        max-width: 500px;
    }
    .indicator{
        position: relative;
        top: 70px;
    }
    .sample{
        /* margin-top: 5vh;
        margin-right: 5vw; */
        bottom: 70px;
    }
    .buynow{
        width: 250px;
        box-sizing: content-box;
    }
    footer{
        width: 80px;
        align-items: center;
    }
    #menu{
        width: 30px;
height: 20px;
flex-shrink: 0;
    }
   
    

}

/* properties for wider screen and some tv screens */


@media screen and (min-width:1500px) {
    .container{
       position: relative;
       top: 0.5rem;
        grid-template-columns: 50% 50%;
        margin-bottom: 1rem;
    }
    .search-cart{
        position: relative;
        right: 1px;
        left: 10rem;
        }
    /* .logo{
        margin-left:5vw ;
    } */
    .watch{
           /* width: 500px;
           height: 350px; */
        margin-left: 2vw;
        
    }

    .buynow{
        top: 1rem;
        padding: 1.4rem 1.4rem;
        font-size: 1.4rem;
        width: 250px;
        box-sizing: content-box;
    }
    .img{
        /* margin-right: 40%; */
    }
    /* .buynow{
        position: relative;
        top: -1vh;
    } */
    .heading{
        font-size: 4rem;
        margin-top: 0;
    }

    /* .main-heading{
        margin-top: 0;
        margin-bottom: 0;
        height: 400px ;
    } */
    /* .grey,.sea,.pink{
        position: relative;
        bottom: 2px;
    } */
    .sample{
        position: relative;
        right: 50px;
        bottom: 4px;
    }
    .indicator{
        position: relative;
        top: 85px;
    }
    #facebook-ico,#twitter-ico,#linkedin-ico{
        margin-right: auto; 
    }
   
}