*{overflow: auto !important;}
body{
    color: white;
    background-image: linear-gradient(to bottom, rgb(9, 8, 8), rgb(122, 122, 122)
    );
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.fav{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    gap: 0.5rem;
    padding: 2rem;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}
.heading{
    font-size: 4rem;
    margin: 0.5rem;

}
.div-hollywood{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0.5rem;
    
}
.box{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 85px;
    
    background-color: azure;
    color: black;
    font-size: 2rem;
}
.content{
    display: none;
}
.content.show{
    display: block;
}
.bo{
    margin: auto auto;
}
.show, .extra{
    width: 80vw;
    text-align: center;
}
.show{
    padding: 2rem 1.5rem;
    width: 10vw;
    font-size: 1rem;
}
.content{
    width: 80vw;
    font-size: 2rem;
}