body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #00416A,#E4E5E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}  
.quote-heading{
    margin-top: 1rem;
    font-size: 2rem;
    color: #163649;
}
.connt{
    /* background-color: rgb(19, 111, 202); */
    box-shadow: 0 0 10px 1px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 90vw;
    height: 90%;
    padding: 2.5rem;
}
.quote{
    display: flex;
    /* width: 40vw; */
}
.quote-q{
    margin: 50px auto auto auto;
    text-align: center;
    font-size:2.5rem;
}
.generator{
    padding: 1rem;
    color: white;
    width: max-content;
    font-size: 1rem;
    /* margin-top: 22rem; */
    cursor: pointer;
    font-weight: 700;
    background-color: transparent;
    border: 0;
    position: relative;
    top:82vh;
    position: fixed;
}
.generator:hover{
    transition: linear 0.4s;
    box-shadow: 0 0 0px;
    border-bottom: 2px solid white;
    transform: scale(1.1);
}
.person{
    font-size: 1.2rem;
}

@media screen and (min-width:1024px) {
    
    .connt{
        height:400px;
        width: 55vw;
    }
    .generator{
        /* margin-top: 15em; */
       /* justify-self: baseline; */
       /* position: fixed; */
       font-size: 2.4rem;


        position: absolute;
        top:57.5vh;
       /* position: fixed; */
    }
    
}
