.parent{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(59, 59, 240), rgb(128, 34, 128));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:150px;
}
.child{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 20px;
    box-shadow:  0 0 20px;
    display: block;
    animation-name:ro;
    animation-delay: 1s;
    transition-property:all ;
    animation-fill-mode:forwards;
    /* position: relative; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transition:linear; */
}
@keyframes ro{
    
    70%{
        margin-top:40vh ;
        transform:rotate(250deg);
        border-radius: 100px 0 0 0;
        
       
    }
    80%{
        margin-top:1vh; 
    } /*
   70%{ 
    margin-top: 5vh;
}
80%{
    margin-top: 20vh;
} */
100%{
        margin-top: 0vh;
        transform:  rotate(360deg);
    }
}
.line{
    display: block;
    width: 220px;
    height: 10px;
    background-color: black;
    border-radius: 15px;
    position: fixed;
    margin-top: 63vh;
    animation-name:wi;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes wi {
   68%{
    width: 219px;
   }
    69%{
        width: 70px;
    }
    100%{
        width: 220px;
    }
}