.parent{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(59, 59, 240), rgb(128, 34, 128));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:150px;
}
.child{
    width: 180px;
    height: 190px;
    background-color: aquamarine;
    border-radius: 20px;
    box-shadow:  0 0 20px;
    display: block;
    animation-name:ro;
    animation-delay: 1s;
    transition-property:all ;
    animation-fill-mode:forwards;
    /* position: relative; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition:ease-in-out;
    /* z-index: 21; */
}
@keyframes ro{
    
    70%{
        margin-top:27.5rem;
        transform:rotate(220deg);
        border-radius: 100px 0 0 0;
        
       
    }
    /* 80%{
        margin-top:1vh; 
    }  */
   /* 70%{ 
    margin-top: 5vh;
}
80%{
    margin-top: 20vh;
}  */
100%{
        margin-top: -1vw;
        border-radius: 0 0 0 0;
        transform:  rotate(360deg);
    }
}
.line{
    display: block;
    width: 420px;
    height: 2rem;
    background-color: black;
    border-radius: 15px;
    position: absolute;
    top:85vh;
    animation-name:wi;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 1s;
    /* animation-direction: alternate; */
    animation-iteration-count: infinite;
}
@keyframes wi {
   69%{
    width: 419px;
   }
    70%{
        width: 100px;
    }
    100%{
        width: 419px;
    }
}